{{ ansible_managed | comment }}

[Unit]
Description=pihole metrics exporter
After=network.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
ExecStart=/usr/local/bin/pihole_exporter -pihole_hostname pi.hole
Restart=always
User=pihole
Group=pihole
{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

[Install]
WantedBy=multi-user.target
